apiVersion: argoproj.io/v1alpha1
kind: Application
spec:
  project: default
  source:
    repoURL: https://falcosecurity.github.io/charts
    chart: falco
    targetRevision: 7.0.2
  destination:
    server: https://kubernetes.default.svc
    namespace: falco
  syncPolicy:
    syncOptions:
      - CreateNamespace=true
